:root {
  --main-color-med: #eb2f64;
  --main-color-light: #ff3366;
  --main-color-dark: #ba265d;
  --gray-light-1: #faf9f9;
  --gray-light-2: #f4f2f2;
  --gray-light-3: #f0eeee;
  --gray-light-4: #ccc;
  --gray-dark-1: #333;
  --gray-dark-2: #777;
  --gray-dark-3: #999;
  --shadow-dark: rgba(0, 0, 0, 0.4);
  --shadow-light: rgba(0, 0, 0, 0.2); }

*:focus {
  outline: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*::selection {
  background-color: var(--main-color-light);
  color: #fff; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 58.125em) {
    html {
      font-size: 56.25%; } }

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray-dark-2);
  background: linear-gradient(to right bottom, var(--main-color-light), var(--main-color-dark)); }

@keyframes btn-animate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.padding-bottom-med {
  padding-bottom: 2rem; }

.container {
  margin: 8rem auto;
  max-width: 1200px;
  background-color: var(--gray-light-1);
  box-shadow: 0 2rem 8rem var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 1400px; } }

.header {
  background-color: var(--gray-light-1);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-light-3); }
  @media only screen and (max-width: 40.625em) {
    .header {
      height: 12rem;
      flex-wrap: wrap; } }

.page-content {
  display: flex; }
  @media only screen and (max-width: 68.75em) {
    .page-content {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--gray-dark-1); }

.main-content {
  flex: 1; }

.hotel__details {
  padding: 4.5rem;
  display: flex;
  gap: 4.5rem; }
  @media only screen and (max-width: 58.125em) {
    .hotel__details {
      padding: 2.5rem;
      gap: 2.5rem; } }
  @media only screen and (max-width: 40.625em) {
    .hotel__details {
      flex-direction: column; } }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }
  .search__input {
    background-color: var(--gray-light-2);
    border: none;
    width: 90%;
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.2s;
    margin-right: -3.5rem;
    color: var(--gray-dark-2); }
    .search__input::placeholder {
      color: var(--gray-light-4); }
    .search__input:focus {
      width: 100%;
      background-color: var(--gray-light-3); }
    @media only screen and (max-width: 40.625em) {
      .search__input {
        width: 80%; }
        .search__input:focus {
          width: 90%; } }
  .search__btn {
    background-color: transparent;
    border: none; }
    .search__btn-icon {
      fill: var(--gray-dark-3);
      height: 2rem;
      width: 2rem; }

.user {
  display: flex;
  align-self: stretch; }
  .user > * {
    padding: 0 2rem; }
    .user > *:hover {
      cursor: pointer;
      background-color: var(--gray-light-3); }
  .user__icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--gray-dark-2); }
  .user__icon-notifaction {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    background-color: var(--main-color-med);
    font-size: 0.9rem;
    color: var(--gray-light-1);
    top: 1.5rem;
    right: 1.2rem; }
    @media only screen and (max-width: 40.625em) {
      .user__icon-notifaction {
        top: 1.2rem;
        right: 1.2rem; } }
  .user__info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .user__info-box .user-img {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50%;
      object-fit: cover; }
    .user__info-box .user-name {
      color: var(--gray-dark-2);
      font-size: 1.4rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 4rem; }
    .sidebar .nav__list .active {
      background-color: var(--main-color-med); }
    @media only screen and (max-width: 68.75em) {
      .sidebar .nav__list {
        flex-direction: row;
        margin-top: 0;
        gap: 0; } }
  .sidebar .nav__item {
    position: relative;
    padding: 1.5rem 3rem; }
    .sidebar .nav__item:hover {
      cursor: pointer; }
    @media only screen and (max-width: 68.75em) {
      .sidebar .nav__item {
        flex: 1;
        padding: 2rem; } }
  .sidebar .nav__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    transform: scaleY(0);
    background-color: var(--main-color-med);
    transition: transform 0.2s, width 0.5s 0.2s, background 0.1s; }
  .sidebar .nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar .nav__item:active::before {
    background-color: var(--main-color-light); }
  .sidebar .nav__item-a:link,
  .sidebar .nav__item-a:visited {
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: var(--gray-light-1); }
    .sidebar .nav__item-a:link span,
    .sidebar .nav__item-a:visited span {
      font-size: 1.4rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 31.875em) {
        .sidebar .nav__item-a:link span,
        .sidebar .nav__item-a:visited span {
          display: none; } }
    @media only screen and (max-width: 68.75em) {
      .sidebar .nav__item-a:link,
      .sidebar .nav__item-a:visited {
        justify-content: center; } }
    @media only screen and (max-width: 40.625em) {
      .sidebar .nav__item-a:link,
      .sidebar .nav__item-a:visited {
        flex-direction: column;
        gap: 0.8rem; }
        .sidebar .nav__item-a:link span,
        .sidebar .nav__item-a:visited span {
          font-size: 1.3rem; } }
  .sidebar .nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor; }
  .sidebar__text {
    align-self: center;
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
    color: var(--gray-light-4);
    font-size: 1.2rem; }
    @media only screen and (max-width: 68.75em) {
      .sidebar__text {
        display: none; } }

.gallary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%; }
  .gallary__img img {
    display: block;
    width: 100%;
    object-fit: cover; }

.hotel__info {
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: var(--gray-light-1);
  border-bottom: 1px solid var(--gray-light-3); }
  @media only screen and (max-width: 40.625em) {
    .hotel__info {
      justify-content: space-between; } }
  @media only screen and (max-width: 31.875em) {
    .hotel__info {
      flex-wrap: wrap;
      height: 10rem;
      row-gap: 0.5rem;
      margin: 0 1.5rem; } }
  .hotel__info-title {
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0 3rem; }
    @media only screen and (max-width: 40.625em) {
      .hotel__info-title {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 31.875em) {
      .hotel__info-title {
        font-size: 2rem;
        margin: 0;
        width: 70%; } }
  .hotel__info-stars {
    /*
    In order to make location and next divs in the other side
    we make the stars to occupy the all white-space
    so that will push all the items next to it to the end 
    */
    flex: 1;
    display: flex;
    gap: 0.4rem; }
    .hotel__info-stars .star-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-color-med); }
    @media only screen and (max-width: 40.625em) {
      .hotel__info-stars {
        flex: 0; } }
    @media only screen and (max-width: 31.875em) {
      .hotel__info-stars {
        width: 30%; } }
  .hotel__info-location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--main-color-med);
    margin-right: 3rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 40.625em) {
      .hotel__info-location {
        margin-right: 0rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 31.875em) {
      .hotel__info-location {
        font-size: 1.2rem; } }
    .hotel__info-location .location__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-color-med); }
    .hotel__info-location .location__text {
      padding-bottom: 0.2rem;
      border: none;
      background-color: transparent;
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px solid currentColor;
      transition: all 0.2s;
      font-size: inherit; }
    .hotel__info-location .location__text:hover,
    .hotel__info-location .location__text:active {
      color: var(--gray-dark-1); }
    .hotel__info-location .location__text:focus {
      animation: btn-animate 1s infinite; }
  .hotel__info-rate {
    background-color: var(--main-color-med);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    color: var(--gray-light-1); }
    .hotel__info-rate .hotel__rate-avg {
      font-size: 2rem; }
    .hotel__info-rate .hotel__rate-num {
      font-size: 0.8rem;
      text-transform: uppercase; }

.hotel__details-description {
  flex: 0 0 60%;
  background-color: var(--gray-light-1);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
  padding: 3rem; }

.hotel__details-description-title {
  border-bottom: 1px solid var(--gray-light-3);
  padding-bottom: 3rem; }

.hotel__details-text {
  font-size: 1.4rem;
  color: var(--gray-dark-2); }

.hotel__details-features {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gray-light-3); }

.hotel__details-features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between; }
  @media only screen and (max-width: 31.875em) {
    .hotel__details-features-list {
      flex-direction: column; } }

.hotel__details-features-item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem; }
  @media only screen and (max-width: 58.125em) {
    .hotel__details-features-item {
      width: 50%; } }
  @media only screen and (max-width: 31.875em) {
    .hotel__details-features-item {
      width: 100%; } }

.hotel__details-features-icon {
  fill: var(--main-color-med);
  width: 1.5rem;
  height: 1.5rem; }

.hotel__details-features-text {
  font-size: 1.4rem; }

.hotel__details-recommindation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 75em) {
    .hotel__details-recommindation {
      flex-direction: column;
      gap: 1rem;
      align-items: start; } }
  @media only screen and (max-width: 40.625em) {
    .hotel__details-recommindation {
      flex-direction: row;
      align-items: center;
      gap: 0; } }
  @media only screen and (max-width: 31.875em) {
    .hotel__details-recommindation {
      flex-direction: column;
      gap: 1.5rem; }
      .hotel__details-recommindation .hotel__details-text {
        text-align: center; } }

.hotel__details-text {
  font-size: 1.4rem;
  color: var(--gray-dark-2); }

.hotel__details-recommindation-gallary {
  display: flex; }

.hotel__details-recommindation-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 3px solid var(--gray-light-1); }
  .hotel__details-recommindation-image:not(:first-child) {
    margin-left: -1.75rem; }
  .hotel__details-recommindation-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.hotel__details-testmonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem; }
  @media only screen and (max-width: 58.125em) {
    .hotel__details-testmonials {
      gap: 2.5rem; } }
  @media only screen and (max-width: 58.125em) {
    .hotel__details-testmonials {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch; } }
  @media only screen and (max-width: 31.875em) {
    .hotel__details-testmonials {
      flex-direction: column;
      align-items: center;
      justify-content: stretch; } }

.hotel__details-testmonial-box {
  overflow: hidden;
  position: relative;
  background-color: var(--gray-light-1);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
  padding: 3rem; }
  .hotel__details-testmonial-box::after {
    position: absolute;
    top: -3.15rem;
    left: -0.73rem;
    content: "\201C";
    font-family: sans-serif;
    line-height: 1;
    font-size: 20rem;
    color: var(--gray-light-2);
    z-index: 1; }
  @media only screen and (max-width: 40.625em) {
    .hotel__details-testmonial-box {
      max-width: calc( 50% - 1.25rem); } }
  @media only screen and (max-width: 31.875em) {
    .hotel__details-testmonial-box {
      max-width: 100%; } }

.hotel__details .testomonial-text {
  position: relative;
  z-index: 99; }

.hotel__details-testmonial-info {
  margin-top: 2rem;
  display: flex;
  align-items: center; }
  .hotel__details-testmonial-info img {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5rem; }

.hotel__details-testmonial-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }
  .hotel__details-testmonial-user .name {
    color: var(--gray-dark-1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem; }
  .hotel__details-testmonial-user .date {
    font-size: 1rem;
    color: var(--gray-dark-3); }

.hotel__details-testmonial-rate {
  font-weight: 300;
  font-size: 2rem;
  color: var(--main-color-med); }

.sec-btn:link,
.sec-btn:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--main-color-med);
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: color 0.3s; }
  .sec-btn:link span,
  .sec-btn:visited span {
    transition: margin 0.3s;
    display: inline-block;
    margin-left: 0.5rem; }

.sec-btn:active,
.sec-btn:hover {
  color: var(--gray-dark-1); }
  .sec-btn:active span,
  .sec-btn:hover span {
    margin-left: 0.8rem; }

.cta {
  background-color: var(--gray-light-1);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
  text-align: center; }
  .cta-header {
    font-weight: 300;
    font-size: 2rem;
    color: var(--gray-dark-2);
    margin-bottom: 3rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 31.875em) {
      .cta-header {
        font-size: 1.6rem; } }
  .cta-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: var(--gray-light-1);
    background: linear-gradient(to right, var(--main-color-light), var(--main-color-dark));
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border-radius: 100px;
    text-align: center;
    cursor: pointer; }
    .cta-btn-unvis {
      display: inline-block;
      transform: translateY(-250%);
      transition: all 0.3s; }
    .cta-btn-vis {
      transition: all 0.3s;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .cta-btn:hover {
      background: linear-gradient(to left, var(--main-color-light), var(--main-color-dark)); }
    .cta-btn:hover .cta-btn-unvis {
      transform: translate(0); }
    .cta-btn:hover .cta-btn-vis {
      top: 200%; }
