//////////////////////////////////////////////////////////////////////
// Header componenets
.logo {
  height: 3.5rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include reponse-tap-port {
    order: 1;
    flex: 0 0 100%;
  }
  &__input {
    background-color: var(--gray-light-2);
    border: none;
    width: 90%;
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.2s;
    margin-right: -3.5rem;
    color: var(--gray-dark-2);
    &::placeholder {
      color: var(--gray-light-4);
    }
    &:focus {
      width: 100%;
      background-color: var(--gray-light-3);
    }
    @include reponse-tap-port {
      width: 80%;
      &:focus {
        width: 90%;
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    &-icon {
      fill: var(--gray-dark-3);
      height: 2rem;
      width: 2rem;
    }
  }
}
.user {
  position: relative;
  display: flex;
  align-self: stretch;
  & > * {
    padding: 0 2rem;
    &:hover {
      cursor: pointer;
      background-color: var(--gray-light-3);
    }
  }
  &__icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--gray-dark-2);
  }
  &__icon-notifaction {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    background-color: var(--main-color-med);
    font-size: 0.9rem;
    color: var(--gray-light-1);
    top: 1.5rem;
    right: 1.2rem;
    @include reponse-tap-port {
      top: 1.2rem;
      right: 1.2rem;
    }
  }
  &__info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .user-img {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .user-name {
      color: var(--gray-dark-2);
      font-size: 1.4rem;
    }
  }
}
//////////////////////////////////////////////////////////////////////
// Side Bar
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 4rem;
    .active {
      background-color: var(--main-color-med);
    }
    @include reponse-small-laptop-2 {
      flex-direction: row;
      margin-top: 0;
      gap: 0;
    }
  }
  .nav__item {
    backface-visibility: hidden;
    position: relative;
    padding: 1.5rem 3rem;
    &:hover {
      cursor: pointer;
    }
    @include reponse-small-laptop-2 {
      flex: 1;
      padding: 2rem;
    }
  }
  .nav__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;

    transform: scaleY(0);
    background-color: var(--main-color-med);
    transition: transform 0.2s, width 0.5s 0.2s, background 0.1s;
  }
  .nav__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
  .nav__item:active::before {
    background-color: var(--main-color-light);
  }
  .nav__item-a:link,
  .nav__item-a:visited {
    position: relative;
    z-index: 9999; // In order to make it above before background
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: var(--gray-light-1);
    span {
      font-size: 1.4rem;
      text-transform: uppercase;
      @include reponse-mobile {
        display: none;
      }
    }
    @include reponse-small-laptop-2 {
      justify-content: center;
    }
    @include reponse-tap-port {
      flex-direction: column;
      gap: 0.8rem;
      span {
        font-size: 1.3rem;
      }
    }
  }
  .nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
  }
  &__text {
    align-self: center;
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
    color: var(--gray-light-4);
    font-size: 1.2rem;
    @include reponse-small-laptop-2 {
      display: none;
    }
  }
}
//////////////////////////////////////////////////////////////////////
// Gallary
.gallary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

  &__img {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    &::before {
      transition: all 0.5s;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      background: linear-gradient(
        to right bottom,
        rgba(255, 51, 102, 0.3),
        rgba(186, 38, 92, 0.3)
      );
    }
    &:nth-child(1)::after {
      content: "parties";
    }
    &:nth-child(2)::after {
      content: "Nice View";
    }
    &:nth-child(3)::after {
      content: "Calm down";
    }
    &::after {
      transition: all 0.5s;
      position: absolute;
      top: 150%;
      left: 50%;

      transform: translate(-50%, -50%);
      color: var(--gray-light-1);
      font-size: 2rem;
      text-transform: uppercase;
    }
    &:hover::after {
      top: 50%;
    }
    &:hover::before {
      transform: translate(0);
    }
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}

//////////////////////////////////////////////////////////////////////
// Hotel Info
.hotel__info {
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: var(--gray-light-1);
  border-bottom: 1px solid var(--gray-light-3);
  @include reponse-tap-port {
    justify-content: space-between;
  }
  @include reponse-mobile {
    flex-wrap: wrap;
    height: 10rem;
    row-gap: 0.5rem;
    margin: 0 1.5rem;
  }
  &-title {
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0 3rem;
    @include reponse-tap-port {
      font-size: 2.2rem;
    }
    @include reponse-mobile {
      font-size: 2rem;
      margin: 0;
      width: 70%;
    }
  }
  &-stars {
    /*
    In order to make location and next divs in the other side
    we make the stars to occupy the all white-space
    so that will push all the items next to it to the end 
    */
    flex: 1;
    display: flex;
    gap: 0.4rem;
    .star-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-color-med);
    }
    @include reponse-tap-port {
      flex: 0;
    }
    @include reponse-mobile {
      width: 30%;
    }
  }
  &-location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--main-color-med);
    margin-right: 3rem;
    font-size: 1.2rem;
    @include reponse-tap-port {
      margin-right: 0rem;
      font-size: 1rem;
    }
    @include reponse-mobile {
      font-size: 1.2rem;
    }
    .location__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--main-color-med);
    }
    .location__text {
      padding-bottom: 0.2rem;
      border: none;
      background-color: transparent;
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px solid currentColor;
      transition: all 0.2s;
      font-size: inherit;
    }
    .location__text:hover,
    .location__text:active {
      color: var(--gray-dark-1);
    }
    .location__text:focus {
      animation: btn-animate 1s infinite;
    }
  }
  &-rate {
    background-color: var(--main-color-med);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    color: var(--gray-light-1);
    .hotel__rate-avg {
      font-size: 2rem;
    }
    .hotel__rate-num {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}
//////////////////////////////////////////////////////////////////////
// Hotel Details
.hotel__details {
  &-description {
    flex: 0 0 60%;
    background-color: var(--gray-light-1);
    box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
    padding: 3rem;
  }
  &-description-title {
    border-bottom: 1px solid var(--gray-light-3);
    padding-bottom: 3rem;
  }
  &-text {
    font-size: 1.4rem;
    color: var(--gray-dark-2);
  }
  &-features {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gray-light-3);
  }
  &-features-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    @include reponse-mobile {
      flex-direction: column;
    }
  }
  &-features-item {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include response-tap-land {
      width: 50%;
    }
    @include reponse-mobile {
      width: 100%;
    }
  }
  &-features-icon {
    fill: var(--main-color-med);
    width: 1.5rem;
    height: 1.5rem;
  }
  &-features-text {
    font-size: 1.4rem;
  }
  &-recommindation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
    @include response-small-laptop {
      flex-direction: column;
      gap: 1rem;
      align-items: start;
    }
    @include reponse-tap-port {
      flex-direction: row;
      align-items: center;
      gap: 0;
    }
    @include reponse-mobile {
      flex-direction: column;
      gap: 1.5rem;
      .hotel__details-text {
        text-align: center;
      }
    }
  }
  &-text {
    font-size: 1.4rem;
    color: var(--gray-dark-2);
  }
  &-recommindation-gallary {
    display: flex;
  }
  &-recommindation-image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 3px solid var(--gray-light-1);

    &:not(:first-child) {
      margin-left: -1.75rem;
    }
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &-testmonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    @include response-tap-land {
      gap: 2.5rem;
    }
    @include response-tap-land {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
    }
    @include reponse-mobile {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
    }
  }
  &-testmonial-box {
    overflow: hidden;
    position: relative;
    background-color: var(--gray-light-1);
    box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
    padding: 3rem;
    &::after {
      position: absolute;
      top: -3.15rem;
      left: -0.73rem;
      content: "\201C";
      font-family: sans-serif;
      line-height: 1;
      font-size: 20rem;
      color: var(--gray-light-2);
      z-index: 1;
    }
    @include reponse-tap-port {
      max-width: calc(
        50% - 1.25rem
      ); // Gap is 2.5rem, and we have to consider that
    }
    @include reponse-mobile {
      max-width: 100%;
    }
  }
  .testomonial-text {
    position: relative;
    z-index: 99;
  }
  &-testmonial-info {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1.5rem;
    }
  }
  &-testmonial-user {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .name {
      color: var(--gray-dark-1);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .date {
      font-size: 1rem;
      color: var(--gray-dark-3);
    }
  }
  &-testmonial-rate {
    font-weight: 300;
    font-size: 2rem;
    color: var(--main-color-med);
  }
}
.sec-btn:link,
.sec-btn:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--main-color-med);
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: color 0.3s;
  span {
    transition: margin 0.3s;
    display: inline-block;
    margin-left: 0.5rem;
  }
}
.sec-btn:active,
.sec-btn:hover {
  color: var(--gray-dark-1);
  span {
    margin-left: 0.8rem;
  }
}
.cta {
  background-color: var(--gray-light-1);
  box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
  text-align: center;
  &-header {
    font-weight: 300;
    font-size: 2rem;
    color: var(--gray-dark-2);
    margin-bottom: 3rem;
    text-transform: uppercase;
    @include reponse-mobile {
      font-size: 1.6rem;
    }
  }
  &-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: var(--gray-light-1);
    background: linear-gradient(
      to right,
      var(--main-color-light),
      var(--main-color-dark)
    );
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    &-unvis {
      display: inline-block;
      transform: translateY(-250%);
      transition: all 0.3s;
    }
    &-vis {
      transition: all 0.3s;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      background: linear-gradient(
        to left,
        var(--main-color-light),
        var(--main-color-dark)
      );
    }
    &:hover &-unvis {
      transform: translate(0);
    }
    &:hover &-vis {
      top: 200%;
    }
  }
}

// popups
.active-box.user__massage-box {
  visibility: visible;
  opacity: 1;
}
.active-box.user__bookmark-box {
  visibility: visible;
  opacity: 1;
}
.user__massage-box,
.user__bookmark-box {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding: 0;
  cursor: default;
  position: absolute;
  background-color: var(--gray-light-2);
  width: 33rem;
  border-radius: 10px;
  z-index: 999999999;
  top: 7rem;
  right: 0;
  &:hover {
    cursor: default;
    background-color: var(--gray-light-2);
  }
}
.user__massage-title,
.user__bookmark-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-dark-2);
  h3 {
    font-size: 1.6rem;
    color: var(--gray-dark-1);
  }
  span {
    cursor: pointer;
    display: inline-block;
    // padding: 1rem;
    width: 30px;
    height: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 3px;
      background-color: var(--gray-dark-1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
    }
    &:hover::before {
      background-color: var(--main-color-med);
    }
  }
}
.user__massages-container,
.user__bookmark-container {
  height: 25rem;
  overflow-y: scroll;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: stretch;
}
.user__massage-item {
  cursor: pointer;
  // padding: 1rem 2rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.user__massage-item:hover {
  background-color: var(--gray-light-4);
}
.user__massage-img {
  display: block;
  img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.user__massage-outline {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  .name {
    font-size: 1.4rem;
    color: var(--gray-dark-1);
  }
  .massage {
    font-size: 1.2rem;
  }
}

.user__bookmark-container {
  height: 25rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  gap: 1rem;
}
.user__bookmark-item {
  cursor: pointer;
  padding: 1rem 2rem;
  &:hover {
    background-color: var(--gray-light-4);
  }
}
.user__bookmark-outline {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 1.6rem;
    color: var(--gray-dark-1);
  }
}
