.container {
  margin: 8rem auto;
  max-width: 1200px;
  background-color: var(--gray-light-1);
  box-shadow: 0 2rem 8rem var(--shadow-dark);
  @include response-small-laptop {
    margin: 0;
  }
  @include response-large-screen {
    max-width: 1400px;
  }
}
.header {
  background-color: var(--gray-light-1);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-light-3);
  @include reponse-tap-port {
    height: 12rem;
    flex-wrap: wrap;
  }
}
.page-content {
  display: flex;
  @include reponse-small-laptop-2 {
    flex-direction: column;
  }
}
.sidebar {
  flex: 0 0 18%;
  background-color: var(--gray-dark-1);
}
.main-content {
  flex: 1; // To take the remaning space of (18%)
}
.hotel__details {
  padding: 4.5rem;
  display: flex;
  gap: 4.5rem;
  @include response-tap-land {
    padding: 2.5rem;
    gap: 2.5rem;
  }
  @include reponse-tap-port {
    flex-direction: column;
  }
}
