.container {
  margin: 8rem auto;
  max-width: 120rem;
  background-color: var(--gray-light-1);
  box-shadow: 0 2rem 8rem var(--shadow-dark);
}
.header {
  background-color: var(--gray-light-1);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-light-3);
}
.page-content {
  display: flex;
}
.sidebar {
  flex: 0 0 18%;
  background-color: var(--gray-dark-1);
}
.main-content {
  flex: 1; // To take the remaning space of (18%)
}
.hotel__details {
  padding: 4.5rem;
  display: flex;
  gap: 4.5rem;
}
